# Copiá este archivo a .env y completá los valores
#   cp env.example .env
# .env NUNCA va a git (está en .gitignore)

# ===== SauceLabs (iOS cloud) =====
SAUCE_USERNAME=tu_usuario_saucelabs
SAUCE_ACCESS_KEY=tu_access_key
SAUCE_REGION=us-west-1

# Nombre del archivo .ipa subido a App Storage de SauceLabs
# (subilo desde https://app.saucelabs.com/storage/files)
SAUCE_IOS_APP=storage:filename=My-Demo-App.ipa

# ===== Android local =====
ANDROID_APP_PATH=./apps/mda-2.2.0-25.apk
ANDROID_DEVICE_NAME=Pixel_6_API_34
ANDROID_PLATFORM_VERSION=14
